@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-ice: #f2f5f9;
  --color-cloudy: #e1e8ef;
  --color-orange: #ff9c1a;
  --color-red: #ec1b09;
  --color-dark: #151f33;
  --shadow-custom: 0 0 4px rgba(0, 0, 0, 0.25);

  --font-Poppins_Regular: "Poppins_Regular", sans-serif;
  --font-Poppins_Medium: "Poppins_Medium", sans-serif;
  --font-Poppins_Semibold: "Poppins_Semibold", sans-serif;
  --font-Poppins_Bold: "Poppins_Bold", sans-serif;

  --breakpoint-xl: 1280px;
}

@layer base {
  @font-face {
    font-family: "Poppins_Regular";
    src: url("/public/fonts/Poppins-Regular.woff2");
  }

  @font-face {
    font-family: "Poppins_Medium";
    src: url("/public/fonts/Poppins-Medium.woff2");
  }

  @font-face {
    font-family: "Poppins_Semibold";
    src: url("/public/fonts/Poppins-SemiBold.woff2");
  }

  @font-face {
    font-family: "Poppins_Bold";
    src: url("/public/fonts/Poppins-Bold.woff2");
  }

  * {
    @apply antialiased select-none scroll-smooth font-Poppins_Regular outline-0;
  }
  body {
    @apply pb-5 overflow-x-hidden duration-200 bg-ice dark:bg-slate-900;
  }
  #root {
    @apply flex flex-col items-center justify-start w-full min-h-screen dark:text-ice;
  }
  button {
    @apply cursor-pointer;
  }
  img {
    @apply pointer-events-none;
  }
}

@layer utilities {
  .padding_body {
    @apply px-[clamp(1rem,4vw,4rem)];
  }
  .full_center {
    @apply flex items-center justify-center;
  }
  .bgColor {
    @apply z-10 duration-200 bg-cloudy dark:bg-slate-800 shadow-custom;
  }
  .innerBgColor {
    @apply bg-white dark:bg-slate-700;
  }
}
